<%- include('./common/header.ejs') %>
<div class="container">
  <h1>文章列表</h1>
  <div class="list-group">
    <% articles.forEach(item => { %>
    <a href="/article/info/<%= item.id %>" class="list-group-item">
      <%= item.title %>
      <span class="badge" style="background-color: #5cb85c">作者昵称:<%= item.nickname %></span>
      <span class="badge" style="background-color: #f0ad4e">发表时间:<%= item.ctime%></span>
    </a>
    <% }) %>
  </div>
  <ul class="pagination list-group">
      <li>
        <% if (currentPage == 1) { %>
          <span class="list-group-item disabled" aria-hidden="true">&laquo;</span>
        <% } else {%>
          <a href="/?page=<%= currentPage - 1 < 1 ? 1 : currentPage - 1 %>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        <% } %>
        
      </li>
      <% for (var i = 1; i <= totalPage; i++) { %>
      <li class="<%= currentPage == i ? 'active' : '' %>">
        <a href="/?page=<%= i %>"><%= i %></a>
      </li>
      <% } %>
      <li>
        <% if (currentPage == totalPage) { %>
          <span class="list-group-item disabled" aria-hidden="true">&raquo;</span>
        <% } else {%>
          <a href="/?page=<%= currentPage + 1 > totalPage ? totalPage : currentPage + 1 %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        <% } %>

        
      </li>
    </ul>
</div>
<%- include('./common/footer.ejs') %>