<%- include('../common/header.ejs') %>

<div class="container">
  <h1 class="text-center">
    <%= article.title %>
    <% if (user && user.id === article.author_id) { %>
      <a class="btn btn-info pull-right" href="/article/edit/<%= article.id %>">编辑</a>
    <% } %>
  </h1>
  <hr>

  <div>
    <%- article.content %>
  </div>

</div>

<%- include('../common/footer.ejs') %>